:root{
    --background: black;
    --write: white;
    --userButton: rgb(23, 23, 23);
    --brands: grey;
}

body{
    background-color: black;
    position: relative;
}

nav.navbar{
    width: 100%;
    position: fixed;
    background-color: var(--background) !important;
    z-index: 100;
}

nav > div > div > ul > li > a.nav-link{
    color: var(--write) !important;
}

.white{
    color: var(--write);
}

#logo{
    height: 40px;
}

div.right-nav > *{
    color: var(--write);
    padding:10px;
}

.right-nav{
    position: absolute;
    left: calc(100vw - 270px);
    background-color: var(--background);
}

.user{
    height: 30px;
    width: 30px;
}

span.navbar-toggler-icon{
    position: relative;
}
.btn-row.top, .btn-row.center, .btn-row.down{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--write);
}

.btn-row.top{
    top: 5px;
}

.btn-row.center{
    top: 13.5px;
}

.btn-row.down{
    bottom: 5px;
}

.btn-row.top.start{
    animation: topClick .8s linear;
    animation-fill-mode: forwards;
}

.btn-row.center.start{
    animation: centerClick .8s linear;
    animation-fill-mode: forwards;
}

.btn-row.down.start{
    animation: downClick .8s linear;
    animation-fill-mode: forwards;
}

.btn-row.top.start.stop, .btn-row.center.start.stop, .btn-row.down.start.stop{
    animation-direction: reverse;
}

.bottom-nav{
    margin-top: 80px;
}

.genres{
    height: 40px;
    width: 105px;
    padding: 6px;
    border: 1px solid var(--write);
}

.bottom-right-nav{
    margin-right: 20px;
}

.line{
    border: 1px solid var(--write);
    border-radius: 3px;
}

.pointer{
    cursor: pointer;
}

.tvShows{
    font-weight: bold;
    font-size: 18pt;
}

.btn-secondary{
    background-color: var(--userButton);
    border: none;
}

.user-menu{
    margin-left: -80px;
    background-color: var(--userButton);
}

.user-menu > li > a{
    color: white;
}

.carousel{
    width: calc(100vw - 70px);
}

.scale-me{
    animation: transformScale .3s ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
    z-index: 1 !important;
}

.card{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.left-arrows{
    width: 50px;
    margin-left: -25px;
}

.right-arrows{
    width: 50px;
    margin-right: -25px;
}

.brands-class{
    font-size: 17pt;
    margin: 0 5px;
    color: var(--brands);
}

.foot-write{
    color: grey;
}

.foot-btn{
    background-color: var(--background);
    border: 1px solid var(--brands);
    color: var(--brands);
}

.bottom-write{
    margin-left: 16vw;
    margin-top: 10px;
}

select{
    color: var(--write);
    background-color: var(--background);
}

button.navbar-toggler.white{
    background: var(--background);
    border: 1px solid var(--write);
    border-radius: 4px;
}

i.fa-solid.fa-bars.white{
    margin-top: 5px;
}

.card{
    box-sizing: border-box;
    padding: 3px;
    background-color: var(--background);
}

footer{
    height: 500px;
}

.opacity{
    opacity: 0%;
}

.lesAppears{
    animation: appears .8s ease-in-out .1s;
    animation-fill-mode: forwards;
}

/* BOOTSTRAP CSS */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

/* Keyframes */
@keyframes appears{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

@keyframes transformScale{
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}

@keyframes topClick {
    0%{translate: 0px 0px; }
    50%{translate: 0px 8.5px; rotate: 0deg;}
    100%{translate: 0px 8.5px; rotate: 135deg;}    
}

@keyframes centerClick {
    0%{rotate: 0deg;}
    50%{rotate: 0deg;}
    100%{rotate: 45deg;}    
}

@keyframes downClick {
    0%{translate: 0px 0px; }
    50%{translate: 0px -8.5px; rotate: 0deg;}
    100%{translate: 0px -8.5px; rotate: 135deg;}
}
/* Media Screen */
@media (max-width: 991px){
    .bottom-write{
        margin-left: 0;
    }

    .opening{
        padding-bottom: 62px;
    }
}

@media (max-width: 991px){
    .right-nav{
        left: 0px;
        opacity: 0;
    }
    .open{
        animation: appears .6s ease-in-out .2s;
        animation-fill-mode: forwards;
    }
    
    .close{
        opacity: 0;
    }
}

 

/* medium and up screens  BOOTSTRAP*/
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

