body{
    background-color: black;
}

nav.navbar{
    background-color: black !important;
}

nav > div > div > ul > li > a.nav-link{
    color: white !important;
}

.white{
    color: white;
}

#logo{
    height: 40px;
}

div.right-nav > *{
    color: white;
    padding:10px;
}


.user{
    height: 30px;
    width: 30px;
}

.genres{
    height: 40px;
    width: 105px;
    padding: 6px;
    border: 1px solid white;
}

.bottom-right-nav{
    margin-right: 20px;
}

.line{
    border: 1px solid white; 
}

.tvShows{
    font-weight: bold;
    font-size: 18pt;
}

.btn-secondary{
    background-color: rgb(23, 23, 23);
    border: none;
}

.user-menu{
    margin-left: -100px;
    background-color: rgb(23, 23, 23);
}

.user-menu > li > a{
    color: white;
}

.scale-me{
    transform: scale(1.2);
    z-index: 10;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.left-arrows{
    width: 50px;
    margin-left: -25px;
}

.right-arrows{
    width: 50px;
    margin-right: -25px;
}

.brands-class{
    font-size: 17pt;
    margin: 0 5px;
    color: grey;
}

.foot-write{
    color: grey;
}

.foot-btn{
    background-color: black;
    border: 1px solid grey;
    color: grey;
}

.bottom-write{
    margin-left: 16vw;
    margin-top: 10px;
}

select{
    color: white;
    background-color: black;
}

button.navbar-toggler.white{
    background: black;
    border: 1px solid white;
    border-radius: 3px;
}

i.fa-solid.fa-bars.white{
    margin-top: 5px;
}

.card{
    background-color: black;
}

footer{
    height: 500px;
}

@media (max-width: 991px){
    .bottom-write{
        margin-left: 0;
    }
}

/* BOOTSTRAP CSS */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} 

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}